

body#dashboard_template

    div#content
        background-color: $lightGray_color
        padding: 75px 0
        @include responsivo(telefonoTable)
            padding: 50px 0
        @include responsivo(pcMedio)
            padding: 50px 0
        .container
            padding: 50px
            background-color: $whiteBase1
            box-shadow: $shadow2
            @include responsivo(telefonoTable)
                padding: 50px 25px
                padding-bottom: 25px
            @include responsivo(pcMedio)
                padding: 50px
                padding-bottom: 25px


            div#primary
                main#main

                    article.page

                        .entry-content
                            .woocommerce
                                // .account-info
                                .account-info
                                    width: 100%
                                    // margin-bottom: 0
                                    // padding-bottom: 25px
                                    // border-bottom: 1px solid $gray_ult_color

                                // nav.woocommerce-MyAccount-navigation

                                .woocommerce-MyAccount-content
                                    padding-top: 0
                                    p.woocommerce-form-row


                                        em
                                            font-size: 12px
                                            line-height: 1
                                            @include responsivo(telefonoTable)
                                                font-size: 11px


                                    label
                                        @include responsivo(telefonoTable)
                                            font-size: 12px



    &.logged-in
        div#content
            button,
            .woocommerce-Button,
            button.woocommerce-Button.button,
            a.button
                box-shadow: $shadow2
                background-color: $turcGreen_color
                color: $whiteBase1
                @include responsivo(telefonoTable)
                    font-size: 13px!important
                @include responsivo(pcMedio)
                    font-size: 14px!important
                @include responsivo(general)
                    font-size: 14px!important
                @include responsivo(smallPcTablet)
                    font-size: 12px!important
                @include responsivo(resto)
                    font-size: 16px!important

        // display: none

body#dashboard_template.woocommerce-edit-account
    div#content
        .container
            div#primary
                main#main
                    article.page
                        .entry-content
                            .woocommerce
                                .woocommerce-MyAccount-content
                                    display: flex
                                    flex-flow: wrap
                                    flex-direction: row
                                    position: relative
                                    p.woocommerce-form-row
                                        @include responsivo(general)
                                            width: 335px
                                        @include responsivo(smallPcTablet)
                                            width: 300px
                                        @include responsivo(resto)
                                            width: 375px

                                        em
                                            font-size: 12px
                                            line-height: 1
                                            @include responsivo(telefonoTable)
                                                font-size: 11px


                                    label
                                        @include responsivo(telefonoTable)
                                            font-size: 12px


                                    fieldset
                                        @include responsivo(general)
                                            position: absolute
                                            right: 0
                                            top: 0
                                            bottom: 0

                                        @include responsivo(resto)
                                            position: absolute
                                            right: 0
                                            top: 0
                                            bottom: 0

                                        legend
                                            @include responsivo(general)
                                                position: absolute
                                                top: -40px
                                                left: 0
                                                margin: 0

                                            @include responsivo(resto)
                                                position: absolute
                                                top: -40px
                                                left: 0
                                                margin: 0

                                        p.woocommerce-form-row
                                            width: 100%
                                            @include responsivo(general)
                                                width: 335px
                                            @include responsivo(smallPcTablet)
                                                width: 300px
                                            @include responsivo(resto)
                                                width: 375px


body#dashboard_template.sbn_accountPage

    div#page
        // display: none
        .page-header.page-header-page
            h1.entry-title
                background-color: white
        div#content
            .container
                div#primary
                    .customer-login
                        .row
                            @include responsivo(telefonoTable)
                                display: flex
                            @include responsivo(pcMedio)
                                display: flex
                            .col-login
                                @include responsivo(telefonoTable)
                                    margin: 0 auto!important
                                    display: block
                                    width: 95%!important
                                @include responsivo(pcMedio)
                                    margin: 0 auto!important
                                    display: block
                                    width: 75%!important
                                .martfury-login-tabs
                                    ul.tabs-nav
                                        li
                                            a
                                                transition: $trans
                                            a.active
                                                color: $turcGreen_color

                                    .tabs-content
                                        form
                                            button.woocommerce-Button.button
                                                color: $whiteBase1!important
                                                background-color: $primaryColor!important
                                                @include responsivo(telefonoTable)
                                                    font-size: 13px!important
                                                @include responsivo(pcMedio)
                                                    font-size: 18px!important
                                                @include responsivo(general)
                                                    font-size: 18px!important
                                                @include responsivo(smallPcTablet)
                                                    font-size: 16px!important
                                                @include responsivo(resto)
                                                    font-size: 20px!important
                                span.woocommerce-form-row__remember
                                    @include responsivo(telefonoTable)
                                        display: flex
                                        flex-direction: column



