



body#cart_template.woocommerce-cart
    div#content
        padding-top: 0
        padding-bottom: 75px
        @include responsivo(telefonoTable)
            padding-bottom: 50px
        @include responsivo(pcMedio)
            padding-bottom: 50px

    //     padding-top: 0
    //     @include containerWidth()


    .real_coupon
        display: none!important

    .elementor-widget-wrap
        padding: 0

    .col-12.col-colla
        padding: 0

    .woocommerce-Price-amount
        color: black

body#cart_template.woocommerce-cart
    .woocommerce
        .col-coupon
            box-shadow: $shadow2
            .coupon
                margin-bottom: 50px
                @include responsivo(telefonoTable)
                    margin-bottom: 25px
                @include responsivo(pcMedio)
                    margin-bottom: 25px


            .coupon
                margin-bottom: 0
                background-color: $lightGray_color
                padding: 15px 25px
                padding-top: 10px
                label
                    margin-bottom: 0
                    font-size: 16px
                    a
                        width: 100%
                        color: black
                        display: block
                .couponContainer
                    margin-top: 15px
                    margin-bottom: 10px
                    .collapseContain
                        display: flex
                        flex-direction: row
                        justify-content: space-between
                        input
                            margin-bottom: 0
                            height: 50px
                        input#coupon_code
                            width: 52.5%

                        input.button
                            background-color: $primaryColor
                            border: transparent


    .customCart01
        position: relative
        .stepsProcess
            width: 100%
        .cart-collaterals
            @include responsivo(telefonoTable)
                padding: 0
            @include responsivo(pcMedio)
                padding: 0
            @include responsivo(general)
                padding-left: 22.5px
                padding-right: 0
            @include responsivo(resto)
                padding-left: 22.5px
                padding-right: 0
        .cartList
            background-color: $lightGray_color
            padding: 25px 35px
            box-shadow: $shadow2
            @include responsivo(telefonoTable)
                margin-bottom: 25px
                padding: 25px
            @include responsivo(pcMedio)
                margin-bottom: 50px
                padding: 25px
            form.woocommerce-cart-form
                width: 100%
                h2
                    display: none
                table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents
                    margin-bottom: 0
                    thead
                        display: none
                    tbody
                        td.product-thumbnail
                            padding-left: 0!important
                            padding-right: 0!important
                            a
                                img
                                    width: auto!important
                                    max-width: unset!important
                                    @include responsivo(general)
                                        height: 125px
                                    @include responsivo(smallPcTablet)
                                        height: 100px
                                    @include responsivo(resto)
                                        height: 125px
                        tr.woocommerce-cart-form__cart-item.cart_item
                            margin-bottom: 35px
                            border: none
                            display: flex
                            flex-direction: row
                            // border-radius: 15px
                            border-radius: 0
                            // box-shadow: $shadow1
                            // box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px
                            box-shadow: $shadow2
                            background-color: white
                            justify-content: space-around
                            @include responsivo(telefonoTable)
                                display: flex
                                flex-direction: column
                            @include responsivo(pcMedio)
                                display: flex
                                flex-direction: column

                            td
                                border-bottom: none
                                display: flex
                                justify-content: center
                                align-content: center
                                justify-items: center
                                align-items: center
                                padding-top: 20px
                                padding-bottom: 20px
                                @include responsivo(telefonoTable)
                                    width: 100%
                                    padding: 0!important
                                    margin-bottom: 25px
                                @include responsivo(pcMedio)
                                    width: 100%
                                    padding: 0!important
                                    margin-bottom: 25px
                                @include responsivo(general)
                                    padding-left: 10px
                                    padding-right: 0
                                    width: fit-content
                                @include responsivo(resto)
                                    padding-left: 20px
                                    padding-right: 0
                                i
                                    font-size: 22.5px

                                @include responsivo(telefonoTable)
                                    *
                                        font-size: 14px
                                @include responsivo(pcMedio)
                                    *
                                        font-size: 18px
                                @include responsivo(general)
                                    *
                                        font-size: 15px
                                @include responsivo(smallPcTablet)
                                    *
                                        font-size: 13px
                                @include responsivo(resto)
                                    *
                                        font-size: 18px

                                &:first-child
                                    padding-left: 0!important
                                &:last-child
                                    padding-right: 0!important
                                    @include responsivo(telefonoTable)
                                        margin-bottom: 0!important
                                    @include responsivo(pcMedio)
                                        margin-bottom: 0!important

                            td.product-thumbnail
                            //     @include responsivo(telefonoTable)
                            //         display: none
                            //     @include responsivo(pcMedio)
                            //         display: none

                            td.product-name
                                a
                                    transition: $trans
                                    color: black
                                    font-weight: 500
                                    &:hover

                                        color: var(--mf-primary-color)
                                .product-content-detail
                                    padding-left: 0!important
                                    padding-right: 0!important
                                    .product-detail-mobile
                                        @include responsivo(telefonoTable)
                                            display: flex
                                            flex-direction: column
                                            justify-content: center
                                            align-content: center
                                            align-items: center
                                        @include responsivo(pcMedio)
                                            display: flex
                                            flex-direction: column
                                            justify-content: center
                                            align-content: center
                                            align-items: center



                        td.actions
                            display: flex
                            padding-top: 0
                            padding-bottom: 0
                            button.button.empty-cart-button
                                background-color: white

                    tbody
                        tr
                            padding: 0 25px
                            position: relative
                            @include responsivo(telefonoTable)
                                position: relative
                                margin-bottom: 35px!important
                                padding: 25px
                            @include responsivo(pcMedio)
                                position: relative
                                margin-bottom: 35px!important
                                padding: 25px


                            td.product-price,
                            td.product-subtotal
                                @include responsivo(telefonoTable)
                                    display: none!important
                                @include responsivo(pcMedio)
                                    display: none!important

                            td.product-subtotal
                                @include responsivo(general)
                                    padding-right: 0!important
                                @include responsivo(resto)
                                    padding-right: 0!important

                            td.product-quantity
                                width: fit-content!important
                                @include responsivo(telefonoTable)
                                    margin-bottom: 0!important
                                    margin: 0 auto
                                @include responsivo(pcMedio)
                                    margin-bottom: 0!important
                                    margin: 0 auto

                                .quantity
                                    margin: 0
                                //     .qty-box

                            td.product-remove
                                padding: 0!important
                                position: absolute
                                width: fit-content
                                @include responsivo(general)
                                    right: -1.5%!important
                                    top: -15px!important
                                @include responsivo(resto)
                                    right: -1.5%!important
                                    top: -15px!important
                                a
                                    border-radius: 360px
                                    background-color: $blackColor
                                    color: white
                                    position: relative
                                    display: flex
                                    justify-content: center
                                    align-content: center
                                    align-items: center
                                    transition: $trans
                                    height: 35px
                                    width: 35px
                                    i

                                        display: block
                                        margin: auto
                                        // position: absolute
                                        line-height: 0
                                        font-size: 16px
                                    &:hover
                                        background-color: $primaryColor
                                        color: $blackColor!important
                                @include responsivo(general)
                                    right: -10px

                            td.product-remove

                                @include responsivo(telefonoTable)
                                    position: absolute
                                    top: -10px
                                    right: -10px!important
                                    margin-left: auto
                                    margin-right: 0!important
                                    width: fit-content!important

                                @include responsivo(pcMedio)
                                    position: absolute
                                    top: -10px
                                    right: -10px!important
                                    margin-left: auto
                                    margin-right: 0!important
                                    width: fit-content!important


                                a
                                    @include responsivo(telefonoTable)
                                        width: 30px
                                        height: 30px
                                    @include responsivo(pcMedio)
                                        width: 30px
                                        height: 30px



        .cart_totals
            margin-bottom: 0
            background-color: $lightGray_color
            box-shadow: $shadow2
            table.shop_table.shop_table_responsive
                // background-color: $lightGray_color!important
                background-color: $lightGray_color!important
                margin-bottom: 0!important
                border: none!important

                tr.woocommerce-shipping-totals.shipping
                    td
                        p.woocommerce-shipping-destination
                            display: none

            .ripTicket
                background-color: #eee
            .wc-proceed-to-checkout
                background-color: $lightGray_color!important
                padding: 15px 25px
                padding-top: 10px
                padding-bottom: 5px
                a.checkout-button.button.alt.wc-forward
                    margin-bottom: 0

            .customCouponSection
                padding-left: 30px
                padding-right: 30px
                @include responsivo(telefonoTable)
                    padding-left: 25px
                    padding-right: 25px
                @include responsivo(pcMedio)
                    padding-left: 25px
                    padding-right: 25px

