



body#checkout_template.woocommerce-checkout.page.woocommerce-page

    .woocommerce-form-coupon-toggle
        display: none!important
    div#content
        padding-top: 0



    .customCheckout01
        h3
            @include responsivo(telefonoTable)
                font-size: 18px!important
            @include responsivo(pcMedio)
                font-size: 18px!important
        h3#ship-to-different-address
            margin-bottom: 7.5px!important
        p.form-row
            @include responsivo(telefonoTable)
                padding-left: 0
                padding-right: 0
            @include responsivo(pcMedio)
                padding-left: 10px
                padding-right: 10px
            @include responsivo(general)
                padding-left: 10px
                padding-right: 10px
            @include responsivo(resto)
                padding-left: 10px
                padding-right: 10px
        form.checkout.woocommerce-checkout
            margin-top: 0
            textarea
                min-height: 125px
                @include responsivo(telefonoTable)
                    min-height: 100px
                @include responsivo(pcMedio)
                    min-height: 100px

            .col-woo-checkout-details.checkoutFormCustom
                @include responsivo(telefonoTable)
                    padding: 0
                    margin-bottom: 25px
                @include responsivo(pcMedio)
                    padding: 0
                    margin-bottom: 25px
                @include responsivo(general)
                    padding-right: 25px
                    padding-left: 0
                @include responsivo(resto)
                    padding-right: 25px
                    padding-left: 0
                div#customer_details
                    box-shadow: $shadow2
                    background-color: $lightGray_color
                    padding: 25px 35px
                    @include responsivo(telefonoTable)
                        padding: 25px
                    @include responsivo(pcMedio)
                        padding: 25px
                    @include responsivo(general)
                        padding: 25px

                    .checkout-billing
                        .woocommerce-billing-fields
                            .woocommerce-billing-fields__field-wrapper
                                display: flex
                                flex-direction: column
                                flex-flow: wrap
                                p
                                    position: relative
                                    span.ywccp_error
                                        position: relative
                                        top: -2.5px
                                    @include responsivo(telefonoTable)
                                        width: 100%
                                        margin-bottom: 15px
                                    @include responsivo(pcMedio)
                                        width: 50%
                                        margin-bottom: 15px
                                    @include responsivo(general)
                                        width: 50%
                                    @include responsivo(resto)
                                        width: 50%

                                    &:last-child
                                        margin-bottom: 0

                                    label

                                        @include responsivo(pcMedio)
                                            position: absolute

                                        @include responsivo(general)
                                            position: absolute
                                            font-size: 12.5px

                                        @include responsivo(resto)
                                            position: absolute

                                    span.woocommerce-input-wrapper
                                        display: block
                                        height: 45px

                                        @include responsivo(pcMedio)
                                            margin-top: 30px

                                        @include responsivo(general)
                                            margin-top: 35px
                                        @include responsivo(resto)
                                            margin-top: 35px
                                        input.input-text,
                                        span.select2.select2-container.select2-container--default.select2-container--below
                                            height: 45px
                                            min-height: unset
                                            line-height: 1

                                        .select2-container
                                            .select2-selection--single
                                                min-height: unset
                                                height: 45px
                                                line-height: 1
                    .checkout-shipping
                        .woocommerce-additional-fields
                            h3
                                margin-bottom: 15px

                        .shipping_address
                            .woocommerce-shipping-fields__field-wrapper
                                display: flex
                                flex-direction: column
                                flex-flow: wrap
                                p
                                    position: relative
                                    span.ywccp_error
                                        position: relative
                                        top: -2.5px
                                    @include responsivo(telefonoTable)
                                        width: 100%
                                        margin-bottom: 15px
                                    @include responsivo(pcMedio)
                                        width: 50%
                                        margin-bottom: 15px
                                    @include responsivo(general)
                                        width: 50%
                                    @include responsivo(resto)
                                        width: 50%

                                    &:last-child
                                        margin-bottom: 0

                                    label

                                        @include responsivo(pcMedio)
                                            position: absolute

                                        @include responsivo(general)
                                            position: absolute
                                            font-size: 12.5px

                                        @include responsivo(resto)
                                            position: absolute

                                    span.woocommerce-input-wrapper
                                        display: block
                                        height: 45px

                                        @include responsivo(pcMedio)
                                            margin-top: 30px

                                        @include responsivo(general)
                                            margin-top: 35px
                                        @include responsivo(resto)
                                            margin-top: 35px
                                        input.input-text,
                                        span.select2.select2-container.select2-container--default.select2-container--below
                                            height: 45px
                                            min-height: unset
                                            line-height: 1

                                        .select2-container
                                            .select2-selection--single
                                                min-height: unset
                                                height: 45px
                                                line-height: 1

            .checkoutPayCustom
                box-shadow: $shadow2
                background-color: $lightGray_color
                padding: 25px 0
                padding-bottom: 10px
                height: fit-content
                h3
                    @include responsivo(telefonoTable)
                        font-size: 18px!important
                    @include responsivo(pcMedio)
                        font-size: 18px!important
                h3#order_review_heading
                    padding: 0 30px
                    margin-bottom: 5px
                    @include responsivo(telefonoTable)
                        padding: 0 25px
                    @include responsivo(pcMedio)
                        padding: 0 25px
                .sectionTopList
                    padding: 0 30px
                    @include responsivo(telefonoTable)
                        padding: 0 25px
                    @include responsivo(pcMedio)
                        padding: 0 25px

                div#order_review
                    span.woocommerce-Price-amount.amount
                        color: black
                    table.shop_table.woocommerce-checkout-review-order-table
                        border: none
                        background-color: transparent
                        @include responsivo(telefonoTable)
                            padding: 0 25px
                        @include responsivo(pcMedio)
                            padding: 0 25px
                        tbody
                            tr
                                @include responsivo(telefonoTable)
                                    *
                                        font-size: 14px
                                @include responsivo(pcMedio)
                                    *
                                        font-size: 14px
                                @include responsivo(general)
                                    *
                                        font-size: 14px
                                @include responsivo(smallPcTablet)
                                    *
                                        font-size: 13px
                                @include responsivo(resto)
                                    *
                                        font-size: 16px
                                td.product-total
                                    span
                                        font-weight: 600
                    div#payment
                        border: none
                        background-color: transparent
                        .ticketShape
                            margin-top: 20px
                            margin-bottom: 0
                        ul.wc_payment_methods.payment_methods.methods
                            border: none
                            background-color: transparent
                            padding: 0
                            li.woocommerce-notice.woocommerce-notice--info.woocommerce-info
                                background-color: transparent
                                padding-top: 10px!important
                                padding-bottom: 10px!important

                            li.wc_payment_method.payment_method_ppcp-gateway
                                display: none

                            li
                                margin-bottom: 10px

                        .form-row.place-order
                            padding-left: 30px
                            padding-right: 30px
                            button#place_order
                                margin-top: 0
                                border-radius: 7.5px
                                background-color: $primaryColor!important
                                transition: $trans!important
                                color: $whiteBase1!important
                            @include responsivo(telefonoTable)
                                padding: 0 25px
                            @include responsivo(pcMedio)
                                padding: 0 25px

                        .woocommerce-terms-and-conditions-wrapper
                            margin-top: 0
                            *
                                line-height: 1.25


                            label.woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox
                                margin-bottom: 15px


                            @include responsivo(telefonoTable)
                                *
                                    font-size: 13px
                            @include responsivo(pcMedio)
                                *
                                    font-size: 14px
                            @include responsivo(general)
                                *
                                    font-size: 14px
                            @include responsivo(smallPcTablet)
                                *
                                    font-size: 13px
                            @include responsivo(resto)
                                *
                                    font-size: 14px

                            .woocommerce-privacy-policy-text
                                p
                                    // @include responsivo(telefonoTable)
                                    //     text-align: center
                                    // @include responsivo(pcMedio)
                                    //     text-align: center
                                    @include responsivo(general)
                                        font-size: 14px
                                    @include responsivo(resto)
                                        font-size: 14px

                            p.form-row.validate-required
                                padding: 0
                                margin-bottom: 0
                                // display: none}

                            span.woocommerce-terms-and-conditions-checkbox-text
                                @include responsivo(general)
                                    padding-left: 27px
                                    font-size: 14px
                                    display: flex
                                    flex-flow: wrap
                                @include responsivo(resto)
                                    padding-left: 27px
                                    font-size: 14px
                                    display: flex
                                    flex-flow: wrap

                        .woocommerce-privacy-policy-text
                            p
                                margin-bottom: 15px


body#checkout_template.woocommerce-checkout.page.woocommerce-page.woocommerce-order-received

    h1.entry-title
        display: none

    div#content
        padding: 75px 0
        @include responsivo(telefonoTable)
            padding: 25px 0
        @include responsivo(pcMedio)
            padding: 50px 0

        .row.innserThankyouSucesss
            .leftSection
                padding: 0
                @include responsivo(telefonoTable)
                    margin-bottom: 25px
                @include responsivo(pcMedio)
                    margin-bottom: 25px
                @include responsivo(general)
                    padding-right: 12.5px
                @include responsivo(resto)
                    padding-right: 12.5px
                .sectionContainer
                    padding: 25px
                    background-color: $lightGray_color
                    box-shadow: $shadow2
                    .innerSectionElement.sct1
                        .containElements
                            display: flex
                            flex-direction: row
                            width: 100%
                            .iconSection
                                margin-right: 15px
                                @include responsivo(telefonoTable)
                                    margin-right: 10px
                                @include responsivo(pcMedio)
                                    margin-right: 10px
                            .info
                                display: flex
                                flex-direction: column
                                align-content: center
                                align-items: flex-start
                                justify-content: center
                                small
                                    margin-bottom: 5px
                                    color: $grayColor
                                    @include small_preTitle_tag()
                                h4
                                    margin: 0
                                    color: $blackColor
                                    @include h4_title_small()

                    .innerSectionElement.sct2
                        .containElements
                            h1
                                @include h2_title_contain()
                            p.text
                                margin-bottom: 0
                                @include p_secondaryText_contain()
            .rightSection
                padding: 0
                @include responsivo(general)
                    padding-left: 12.5px
                @include responsivo(resto)
                    padding-left: 12.5px

                section.woocommerce-order-details
                    .sectionContainer
                        background-color: $lightGray_color
                        box-shadow: $shadow2
                        padding: 25px



tr.woocommerce-shipping-totals.shipping
    td
        // h4.shipping-title
        ul#shipping_method
            display: flex
            flex-direction: row
            justify-content: space-between
            align-content: center
            align-items: center
            flex-flow: wrap
            li
                padding: 0
                @include responsivo(telefonoTable)
                    width: 47.5%

                @include responsivo(pcMedio)
                    width: 47.5%

                @include responsivo(general)
                    width: 47.5%
                @include responsivo(resto)
                    width: 47.5%

                label.shipping_selector
                    background-color: $whiteBase1!important
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-content: center
                    align-items: center
                    padding: 10px 5px
                    box-shadow: $shadow2
                    transition: $trans

                    box-sizing: border-box
                    overflow: hidden
                    &::before
                        display: none
                    .iconSection
                        margin-bottom: 10px

                    p
                        margin-bottom: 10px
                        font-size: 18px
                        font-weight: 800
                        color: $grayColor
                        @include responsivo(telefonoTable)
                            font-size: 16px
                        @include responsivo(pcMedio)
                            font-size: 16px
                        @include responsivo(general)
                            font-size: 16px
                        @include responsivo(smallPcTablet)
                            font-size: 14px
                    span
                        margin-bottom: 0
                        font-size: 16px
                        font-weight: 600
                        color: $grayColor
                        @include responsivo(telefonoTable)
                            font-size: 14px
                        @include responsivo(pcMedio)
                            font-size: 14px
                        @include responsivo(general)
                            font-size: 14px
                        @include responsivo(smallPcTablet)
                            font-size: 12px

                    .iconCHeck
                        position: absolute
                        top: 5px
                        right: 5px
                        &::after
                            content: ""
                            height: 100px
                            width: 55px
                            background-color: $yellow_color
                            position: absolute
                            transform: rotate(-50deg)
                            top: -50px
                            right: -25px
                            z-index: 5
                            @include responsivo(general)
                                right: -30px
                        i
                            font-size: 22px
                            z-index: 10
                            position: relative
                            color: $blackColor
                            @include responsivo(general)
                                font-size: 20px


                &:hover
                    label.shipping_selector
                        transform: scale(1.1)

            li.free_shipping
                label.shipping_selector
                    span
                        color: green!important
            li[checked="checked"]
                // display: none
                label.shipping_selector
                    // background-color: $primaryColor!important
                    // border: 3.5px solid $primaryColor
                    // .iconSection

                    p
                        color: $blackColor
                    span
                        color: $blackColor
        .sectionMention_freeShipping
            display: flex
            flex-direction: row
            align-content: center
            align-items: center
            justify-content: flex-start
            padding: 10px 10px
            background-color: rgba(0, 0, 0, 0.05)
            box-shadow: $shadow2
            @include responsivo(telefonoTable)
                padding: 15px 20px
            @include responsivo(pcMedio)
                padding: 15px 25px
            @include responsivo(smallPcTablet)
                padding: 10px
            i
                font-size: 32px
                padding-right: 7.5px
            span
                text-align: left
                font-size: 14px
                line-height: 1.25
                @include responsivo(telefonoTable)
                    font-size: 12px
                @include responsivo(pcMedio)
                    font-size: 14px
                @include responsivo(general)
                    font-size: 13px
                @include responsivo(smallPcTablet)
                    font-size: 12px

            // display: none!important
