


body#product_template
    div#page
        div#content
            @include responsivo(telefonoTable)
                padding-top: 25px
            @include responsivo(pcMedio)
                padding-top: 25px
            .row
                div#primary
                    .product
                        .mf-product-detail
                            .woocommerce-product-gallery
                                // .flex-viewport
                                ol.flex-control-nav.flex-control-thumbs
                                    @include responsivo(telefonoTable)
                                        margin-left: auto
                                        margin-right: auto
                                        width: fit-content
                                    @include responsivo(pcMedio)
                                        margin-left: auto
                                        margin-right: auto
                                        width: fit-content
                                    li
                                        width: fit-content!important
                                        img
                                            @include responsivo(telefonoTable)
                                                width: 35px!important
                                                height: 35px!important
                                            @include responsivo(pcMedio)
                                                width: 50px!important
                                                height: 50px!important
                                            @include responsivo(general)
                                                height: 65px!important
                                                width: 65px!important

                                            @include responsivo(resto)
                                                height: 65px!important
                                                width: 65px!important

                                    .slick-list
                                        .slick-track
                                            display: flex
                                            flex-direction: row



                            .summary.entry-summary
                                @include responsivo(telefonoTable)
                                    margin-top: 25px
                                @include responsivo(pcMedio)
                                    margin-top: 25px
                                .mf-entry-product-header
                                    .entry-left
                                        h1.product_title.entry-title
                                            @include responsivo(telefonoTable)
                                                text-align: center
                                            @include responsivo(pcMedio)
                                                text-align: center

                                        ul.entry-meta
                                            @include responsivo(telefonoTable)
                                                display: flex
                                                flex-direction: row
                                                justify-content: center
                                            @include responsivo(pcMedio)
                                                display: flex
                                                flex-direction: row
                                                justify-content: center
                                p.price
                                    @include responsivo(telefonoTable)
                                        text-align: center
                                    @include responsivo(pcMedio)
                                        text-align: center

                                .mf-summary-header
                                    @include responsivo(telefonoTable)
                                        display: flex
                                        flex-direction: row
                                        justify-content: center
                                    @include responsivo(pcMedio)
                                        display: flex
                                        flex-direction: row
                                        justify-content: center

                                .woocommerce-product-details__short-description
                                    ul
                                        @include responsivo(telefonoTable)
                                            width: fit-content
                                            margin: 0 auto
                                        @include responsivo(pcMedio)
                                            width: fit-content
                                            margin: 0 auto

                                form.cart
                                    @include responsivo(telefonoTable)
                                        display: flex
                                        flex-direction: column
                                        justify-content: center
                                        align-content: center
                                        padding-left: 25px
                                        padding-right: 25px
                                    @include responsivo(pcMedio)
                                        display: flex
                                        flex-direction: column
                                        justify-content: center
                                        align-content: center
                                        padding-left: 50px
                                        padding-right: 50px
                                    .fsbe-wrap
                                        @include responsivo(telefonoTable)
                                            width: fit-content
                                            margin: 0 auto
                                            margin-bottom: 15px
                                            *
                                                text-align: center
                                        @include responsivo(pcMedio)
                                            width: fit-content
                                            margin: 0 auto
                                            margin-bottom: 15px
                                            *
                                                text-align: center
                                        @include responsivo(general)
                                            margin: 15px 0
                                            margin-top: 10px
                                        @include responsivo(resto)
                                            margin: 15px 0
                                            margin-top: 10px
                                    table.variations
                                        tbody
                                            width: fit-content
                                            tr
                                                @include responsivo(telefonoTable)
                                                    // width: 100%
                                                    display: block
                                                @include responsivo(pcMedio)
                                                    // width: 100%
                                                    display: block
                                    .quantity,
                                    .single_variation_wrap
                                        @include responsivo(telefonoTable)
                                            margin-left: auto
                                            margin-right: auto
                                        @include responsivo(pcMedio)
                                            margin-left: auto
                                            margin-right: auto

                                    .quantity

                                    .single_variation_wrap
                                        width: fit-content

                                        .woocommerce-variation.single_variation
                                            margin-bottom: 15px




                                    .actions-button
                                        @include responsivo(telefonoTable)
                                            width: fit-content
                                            margin-top: 0
                                            padding-top: 0
                                            display: flex
                                            flex-direction: row
                                            justify-content: center
                                            align-content: center
                                            align-items: center

                                        @include responsivo(pcMedio)
                                            width: fit-content
                                            margin-top: 0
                                            padding-top: 0
                                            display: flex
                                            flex-direction: row
                                            justify-content: center
                                            align-content: center
                                            align-items: center

                                .product_meta
                                    span.posted_in,
                                    span.tagged_as
                                        @include responsivo(telefonoTable)
                                            text-align: center
                                        @include responsivo(pcMedio)
                                            text-align: center
                                .social-links
                                    display: flex
                                    flex-direction: row
                                    @include responsivo(telefonoTable)
                                        justify-content: center
                                        align-content: center
                                        align-items: center
                                    @include responsivo(pcMedio)
                                        justify-content: center
                                        align-content: center
                                        align-items: center

                        .summary-sep
                            height: 50px

                        .mf-product-summary
                            // display: none
                            .woocommerce-tabs.wc-tabs-wrapper
                                ul.tabs.wc-tabs
                                    @include responsivo(general)
                                        display: flex
                                        justify-content: center
                                        align-content: center
                                    @include responsivo(resto)
                                        display: flex
                                        justify-content: center
                                        align-content: center

// body#product_template.mobile-version
//     div#page
//         div#content
//             .row
//                 div#primary
//                     .product
//                         .mf-product-detail
//                             .woocommerce-product-gallery
//                                 ol.flex-control-nav.flex-control-thumbs
//                                     @include responsivo(telefonoTable)
//                                         margin-left: auto
//                                         margin-right: auto
//                                         width: fit-content
//                                     @include responsivo(pcMedio)
//                                         margin-left: auto
//                                         margin-right: auto
//                                         width: fit-content
//                                     li
//                                         width: fit-content!important
//                                         img
//                                             @include responsivo(telefonoTable)
//                                                 width: 50px!important
//                                                 height: 50px!important
//                                             @include responsivo(pcMedio)
//                                                 width: 50px!important
//                                                 height: 50px!important
//                                             @include responsivo(general)
//                                                 height: 65px!important
//                                                 width: 65px!important

//                                             @include responsivo(resto)
//                                                 height: 65px!important
//                                                 width: 65px!important