


.xoo-wsc-modal
    .xoo-wsc-container
        .xoo-wsc-basket
            transition: $trans
            box-shadow: $shadow2
            right: 15px
            span.xoo-wsc-items-count
                width: 30px
                height: 30px
                top: -5px
                left: -10px


            span.xoo-wsc-bki.xoo-wsc-icon-basket1
                display: none
            i
                font-size: 37.5px
                color: black


            &:hover
                background-color: $primaryColorYellow


        // .xoo-wsc-header
        .xoo-wsc-body
            .xoo-wsc-products
                .xoo-wsc-product
                    .xoo-wsc-img-col
                        display: flex

                        a
                            display: block
                            margin-left: auto
                            margin-right: auto
                            img
                                @include responsivo(telefonoTable)
                                    height: 200px
                                @include responsivo(pcMedio)
                                    height: 200px
                                @include responsivo(general)
                                    height: 75px
                                    width: 75px!important

                                @include responsivo(resto)
                                    height: 100px
                                    width: 100px!important

        .xoo-wsc-footer
            // .xoo-wsc-ft-totals
                // .xoo-wsc-ft-amt.xoo-wsc-ft-amt-subtotal
                    // margin-right: 0
            .xoo-wsc-ft-buttons-cont
                padding-bottom: 25px
                padding-left: 15px
                padding-right: 15px
                margin-bottom: 20px
                border-bottom: 1px solid #eee
                a
                    background-color: var(--mf-background-primary-color)
                    font-size: 16px
            p.sideText
                font-size: 14px
                padding: 0 15px


.xoo-wsc-modal.xoo-wsc-cart-active
    .xoo-wsc-container
        .xoo-wsc-basket
            right: 465px

