


.xoo-wsc-modal
    .xoo-wsc-container
        z-index: 9999999
        box-shadow: $shadow2
        @include responsivo(telefonoTable)
            padding-left: 10px
            padding-right: 10px
        @include responsivo(pcMedio)
            padding-left: 15px
            padding-right: 15px
        @include responsivo(general)
            padding-left: 20px
            padding-right: 20px
        @include responsivo(resto)
            padding-left: 20px
            padding-right: 20px
        .xoo-wsc-basket
            transition: $trans
            box-shadow: $shadow2
            right: 15px
            border-radius: 100px
            background-color: $yellow_color
            span.xoo-wsc-items-count
                width: 30px
                height: 30px
                top: -5px
                left: -10px
            span.xoo-wsc-bki.xoo-wsc-icon-basket1
                display: none
            i
                font-size: 37.5px
                color: $blackColor
                transition: $trans
            &:hover
                background-color: $primaryColor
                i
                    color: $whiteBase1

            @include responsivo(telefonoTable)
                display: none!important
            @include responsivo(pcMedio)
                display: none!important

        .xoo-wsc-header
            padding: 10px 0
            // padding-bottom: 15px
            margin-bottom: 0
            border-bottom: 1px solid #eee
            .xoo-wsch-top
                display: flex
                flex-direction: row
                justify-content: center
                align-content: center
                align-items: center
                .xoo-wsch-basket
                    line-height: 1
                span.xoo-wsch-text
                    line-height: 1
                span.xoo-wsch-close.xoo-wsc-icon-cross
                    @include responsivo(general)
                        left: 20px
                    @include responsivo(resto)
                        left: 20px
                span
                    font-size: 20px
                    line-height: 1
                    font-weight: 700
                    @include responsivo(telefonoTable)
                        font-size: 14px
                    @include responsivo(pcMedio)
                        font-size: 16px
                    @include responsivo(general)
                        font-size: 18px

            .xoo-wsc-ship-bar-cont
                margin-top: 5px
                span.xoo-wsc-sb-txt
                    span.woocommerce-Price-amount.amount

                        bdi
                            font-weight: 700
                            color: $primaryColor
                            @include responsivo(telefonoTable)
                                font-size: 15px
                            @include responsivo(pcMedio)
                                font-size: 17px
                            @include responsivo(general)
                                font-size: 15px
                            @include responsivo(resto)
                                font-size: 17px

                    @include responsivo(telefonoTable)
                        font-size: 14px
                    @include responsivo(pcMedio)
                        font-size: 16px
                    @include responsivo(general)
                        font-size: 14px
                    @include responsivo(resto)
                        font-size: 16px

                .xoo-wsc-sb-bar
                    span
                        background-color: $turcGreen_color


        .xoo-wsc-body
            .xoo-wsc-empty-cart
                a.button.btn
                    background-color: $turcGreen_color
                    color: $whiteBase1
                    margin-bottom: 0
            .xoo-wsc-products
                .xoo-wsc-product
                    padding: 10px 0

                    .xoo-wsc-img-col
                        display: flex
                        margin-right: 15px!important
                        @include responsivo(telefonoTable)
                            width: fit-content
                            padding: 0
                        @include responsivo(pcMedio)
                            width: fit-content
                            padding: 0
                        @include responsivo(general)
                            width: 25%
                        @include responsivo(resto)
                            width: 25%
                        a
                            display: block
                            margin-left: 0
                            margin-right: auto
                            @include responsivo(telefonoTable)
                                margin-left: 5px
                                margin-right: 5px
                            @include responsivo(pcMedio)
                                margin-left: 5px
                                margin-right: 5px
                            img
                                width: auto
                                @include responsivo(telefonoTable)
                                    height: 80px
                                    max-width: unset!important
                                    object-fit: cover
                                    object-position: center
                                @include responsivo(pcMedio)
                                    height: 80px
                                    max-width: unset!important
                                    object-fit: cover
                                    object-position: center
                                @include responsivo(general)
                                    height: 100px
                                    width: 100px!important

                                @include responsivo(resto)
                                    height: 100px
                                    width: 100px!important

                    .xoo-wsc-sum-col
                        padding: 0
                        @include responsivo(general)
                            width: 75%
                        @include responsivo(resto)
                            width: 75%
                        .xoo-wsc-sm-sales
                            border: 0
                            border-radius: 0
                            padding: 0
                            width: fit-content
                            color: $grayColor
                            font-weight: 500
                            line-height: 1
                            @include responsivo(telefonoTable)
                                font-size: 11px
                            @include responsivo(pcMedio)
                                font-size: 11px
                            @include responsivo(general)
                                font-size: 12px
                            @include responsivo(resto)
                                font-size: 12px
                            // text-transform: capitalize

                            // display:
                        .xoo-wsc-sm-info
                            .xoo-wsc-sm-left
                                padding-right: 7.5px
                                span.xoo-wsc-pname
                                    line-height: 1
                                    padding-bottom: 5px
                                    a
                                        line-height: 1
                                        font-size: 16px
                                        @include responsivo(telefonoTable)
                                            font-size: 14px
                                        @include responsivo(pcMedio)
                                            font-size: 16px
                                        @include responsivo(general)
                                            font-size: 15px

                                .xoo-wsc-qty-price
                                    line-height: 1
                                    font-size: 14px
                                    @include responsivo(telefonoTable)
                                        font-size: 12px
                                    @include responsivo(pcMedio)
                                        font-size: 14px
                                    @include responsivo(general)
                                        font-size: 13px

                                .xoo-wsc-pprice,
                                .xoo-wsc-pprice span.woocommerce-Price-amount.amount
                                    line-height: 1
                                    font-size: 14px
                                    @include responsivo(telefonoTable)
                                        font-size: 12px
                                    @include responsivo(pcMedio)
                                        font-size: 14px
                                    @include responsivo(general)
                                        font-size: 13px

                                .xoo-wsc-qty-box.xoo-wsc-qtb-square
                                    //     color: $blackColor
                                    //     background-color: $lightGray_color
                                    @include responsivo(telefonoTable)
                                        max-width: unset!important
                                        width: 100px

                                    @include responsivo(pcMedio)
                                        max-width: unset!important
                                        width: 100px

                                    @include responsivo(general)
                                        max-width: unset!important
                                        width: 110px
                                    @include responsivo(smallPcTablet)
                                        width: 100px!important

                                    @include responsivo(resto)
                                        max-width: unset!important
                                        width: 125px
                                    span.xoo-wsc-plus.xoo-wsc-chng
                                        background-color: $turcGreen_color
                                        color: $whiteBase1

                                    span.xoo-wsc-plus.xoo-wsc-chng,
                                    span.xoo-wsc-minus.xoo-wsc-chng
                                        // width: 20px
                                        display: block
                                        min-width: unset!important
                                        @include responsivo(telefonoTable)
                                            padding: 0 10px
                                        @include responsivo(pcMedio)
                                            padding: 0 10px
                                        @include responsivo(general)
                                            padding: 0 10px
                                        @include responsivo(resto)
                                            padding: 0 12.5px


                            .xoo-wsc-sm-right
                                padding: 0
                                span.xoo-wsc-smr-del
                                    margin: 0
                                    margin-top: 5px
                                    color: $blackColor
                                    border-radius: 100%
                                    display: flex
                                    justify-content: center
                                    align-content: center
                                    align-items: center

                                span.xoo-wsc-smr-ptotal
                                    span.woocommerce-Price-amount.amount
                                        bdi
                                            font-weight: 700
                                            line-height: 1
                                            font-size: 16px
                                            @include responsivo(telefonoTable)
                                                font-size: 14px
                                            @include responsivo(pcMedio)
                                                font-size: 16px
                                            @include responsivo(general)
                                                font-size: 15px






        .xoo-wsc-footer
            padding: 0
            padding-top: 0
            padding-bottom: 15px
            @include responsivo(telefonoTable)
                padding-bottom: 10px
            @include responsivo(pcMedio)
                padding-bottom: 10px

            .xoo-wsc-sp-container.xoo-wsc-sp-wide
                background-color: $lightGray_color
                padding-top: 5px
                padding-bottom: 5px
                .lSSlideOuter
                    .lSSlideWrapper.usingCss
                        .lSAction
                            a
                                height: 15px
                                background-size: contain
                                margin-top: auto
                                margin-bottom: auto
                                top: 45%
                        ul.xoo-wsc-sp-slider
                            display: flex
                            flex-direction: row
                            align-content: center
                            align-items: center
                            li
                                padding: 0 25px
                                padding-right: 35px
                                margin-top: auto
                                margin-bottom: auto

                                .xoo-wsc-sp-left-col
                                    padding: 0
                                    a
                                        img
                                            object-fit: cover
                                            object-position: center
                                            @include responsivo(telefonoTable)
                                                height: 80px!important
                                                width: 80px!important
                                                max-width: 80px!important
                                                max-height: 80px!important

                                            @include responsivo(pcMedio)
                                                height: 80px!important
                                                width: 80px!important
                                                max-width: 80px!important
                                                max-height: 80px!important

                                            @include responsivo(general)
                                                height: 90px!important
                                                width: 90px!important
                                                max-width: 90px!important
                                                max-height: 90px!important
                                            @include responsivo(resto)
                                                height: 100px!important
                                                width: 100px!important
                                                max-width: 100px!important
                                                max-height: 100px!important


                                .xoo-wsc-sp-right-col
                                    .xoo-wsc-sp-rc-top
                                        span.xoo-wsc-sp-title
                                            line-height: 1
                                            padding-bottom: 5px
                                            a
                                                line-height: 1
                                                font-size: 16px
                                                color: $blackColor
                                                font-weight: 600
                                                display: block
                                                transition: $trans
                                                @include responsivo(telefonoTable)
                                                    font-size: 14px
                                                @include responsivo(pcMedio)
                                                    font-size: 16px
                                                @include responsivo(general)
                                                    font-size: 15px
                                                &:hover
                                                    color: $primaryColor

                                    .xoo-wsc-sp-rc-bottom
                                        span.xoo-wsc-sp-price
                                            span.woocommerce-Price-amount.amount
                                                bdi
                                                    font-weight: 700
                                                    line-height: 1
                                                    font-size: 16px
                                                    @include responsivo(telefonoTable)
                                                        font-size: 14px
                                                    @include responsivo(pcMedio)
                                                        font-size: 16px
                                                    @include responsivo(general)
                                                        font-size: 15px
                                        span.xoo-wsc-sp-atc
                                            a.button
                                                background-color: $turcGreen_color
                                                color: $whiteBase1
                                                border-radius: 7.5px
                                                transition: $trans
                                                font-weight: 400!important
                                                box-shadow: $shadow2
                                                display: flex
                                                align-content: center
                                                align-items: center
                                                justify-content: center
                                                line-height: 1!important
                                                height: fit-content
                                                @include responsivo(telefonoTable)
                                                    font-size: 13px!important
                                                    padding: 12.5px 25px!important
                                                @include responsivo(pcMedio)
                                                    font-size: 14px!important
                                                    padding: 10px 25px!important
                                                @include responsivo(general)
                                                    font-size: 14px!important
                                                    padding: 10px 20px!important
                                                @include responsivo(smallPcTablet)
                                                    font-size: 12px!important
                                                    padding: 10px 20px!important
                                                @include responsivo(resto)
                                                    font-size: 16px!important
                                                    padding: 10px 20px!important




            .xoo-wsc-ft-totals
                padding: 10px 0
                margin-top: 10px
                border-top: 1px solid #eee
                .xoo-wsc-ft-amt.xoo-wsc-ft-amt-subtotal
                    padding: 0
                    padding-bottom: 5px
                    line-height: 1
                    *
                        @include responsivo(telefonoTable)
                            font-size: 14px
                        @include responsivo(pcMedio)
                            font-size: 16px
                        @include responsivo(general)
                            font-size: 16px
                        @include responsivo(smallPcTablet)
                            font-size: 14px
                        @include responsivo(resto)
                            font-size: 18px

                    span.xoo-wsc-ft-amt-value
                        span.woocommerce-Price-amount.amount
                            // color: $primaryColor!important
                            font-weight: 700

                .xoo-wsc-ft-amt.xoo-wsc-ft-amt-shipping
                    padding: 0
                    padding-bottom: 5px
                    line-height: 1
                    *
                        @include responsivo(telefonoTable)
                            font-size: 14px
                        @include responsivo(pcMedio)
                            font-size: 16px
                        @include responsivo(general)
                            font-size: 16px
                        @include responsivo(smallPcTablet)
                            font-size: 14px
                        @include responsivo(resto)
                            font-size: 18px

                    span.xoo-wsc-toggle-slider
                        span.xoo-wsc-icon-pencil
                            display: none

                .xoo-wsc-ft-amt.xoo-wsc-ft-amt-total
                    padding: 10px 0
                    padding-bottom: 5px
                    line-height: 1
                    *
                        @include responsivo(telefonoTable)
                            font-size: 14px
                        @include responsivo(pcMedio)
                            font-size: 16px
                        @include responsivo(general)
                            font-size: 16px
                        @include responsivo(smallPcTablet)
                            font-size: 14px
                        @include responsivo(resto)
                            font-size: 18px
                    span.xoo-wsc-ft-amt-value
                        span.woocommerce-Price-amount.amount
                            font-weight: 700
                            color: $primaryColor!important


            .xoo-wsc-ft-buttons-cont
                padding-bottom: 15px
                padding-left: 0
                padding-right: 0
                margin-bottom: 7.5px
                border-bottom: 1px solid #eee
                display: flex
                flex-direction: column
                .layer1
                    width: 100%
                    display: flex
                    .sbn_buttonCustom
                        margin: 0 auto
                        box-shadow: $shadow2
                        @include responsivo(telefonoTable)
                            width: 100%!important
                        @include responsivo(pcMedio)
                            width: 100%!important
                        @include responsivo(general)
                            width: 100%!important
                        @include responsivo(resto)
                            width: 100%!important
                .layer2
                    width: 100%
                    display: flex
                    flex-direction: row
                    justify-content: space-between
                    align-content: center
                    align-items: center
                    .sbn_buttonCustom
                        box-shadow: $shadow2
                        @include responsivo(telefonoTable)
                            width: 47.5%!important

                        @include responsivo(pcMedio)
                            width: 47.5%!important

                        @include responsivo(general)
                            width: 47.5%!important
                        @include responsivo(resto)
                            width: 47.5%!important
            p.sideText
                padding: 0
                margin-bottom: 0

            p.sideText,
            p.sideText a
                line-height: 1.25
                @include responsivo(telefonoTable)
                    font-size: 12px
                @include responsivo(pcMedio)
                    font-size: 13px
                @include responsivo(general)
                    font-size: 12px
                @include responsivo(resto)
                    font-size: 13px



.xoo-wsc-modal.xoo-wsc-cart-active
    .xoo-wsc-container
        overflow: hidden
        @include responsivo(telefonoTable)
            width: 87.5%
            max-width: 100%
        @include responsivoSpecial(500px, 768px)
            width: 400px
        @include responsivo(pcMedio)
            max-width: 500px
        @include responsivo(general)
            max-width: 500px
        @include responsivo(resto)
            max-width: 550px
        // @include responsivo(resto)

        .xoo-wsc-basket
            @include responsivo(general)
                right: 550px
            @include responsivo(resto)
                right: 575px



