


.mf-product-rating.row
    padding: 0 25px

div#comments
    margin-top: 25px!important
    h2.woocommerce-Reviews-title
        margin-bottom: 25px!important
    ol.commentlist
        padding-left: 25px!important
        padding-right: 25px!important
        li.review
            padding-bottom: 30px!important
            margin-bottom: 30px!important

            .comment_container
                .comment-text
                    margin-left: 75px!important
                    .description
                        p
                            margin-bottom: 0!important
                            font-size: 16px!important
                            @include responsivo(telefonoTable)
                                font-size: 14px!important
                            @include responsivo(pcMedio)
                                font-size: 14px!important



