



footer.site-footer

    .footer-newsletter
        padding: 50px 0
        .container
            @include containerWidth()
    .container
        @include containerWidth()

    .footer-content
        div#footer-widgets
            margin-left: 0
            margin-right: 0
            padding: 50px 0

        div#footer-links
            padding: 25px 0

    .footer-bottom
        padding: 25px 0
