

div#top-promotion
    @include responsivo(telefonoTable)
        min-height: 75px
    @include responsivo(pcMedio)
        min-height: 75px
    @include responsivo(general)
        min-height: 100px
    @include responsivo(resto)
        min-height: 100px
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center
    align-items: center
    .container
        @include responsivo(general)
            padding-left: 25px!important
            padding-right: 25px!important

        .promotion-content
            display: flex
            flex-direction: row

            // .promo-inner

            .promo-link
                @include responsivo(telefonoTable)
                    margin: auto 0
                @include responsivo(pcMedio)
                    margin: auto 0


header#site-header
    .header-main-wapper
        .header-main
            @include responsivo(telefonoTable)
                margin-bottom: 10px
                padding-bottom: 0
            @include responsivo(pcMedio)
                margin-bottom: 10px
                padding-bottom: 0
            .container
                @include containerWidth()
                .row.header-row
                    .header-logo
                        @include responsivo(telefonoTable)
                            padding: 0
                        @include responsivo(pcMedio)
                            padding: 0
                    .header-extras
                        @include responsivo(telefonoTable)
                            padding-right: 0
                        @include responsivo(pcMedio)
                            padding-right: 0
                        ul.extras-menu
                            margin-top: 0
                            li
                                @include responsivo(general)
                                    padding: 0 10px
                                @include responsivo(resto)
                                    padding: 0 10px
                                a
                                    @include responsivo(telefonoTable)
                                        height: fit-content!important
                                    @include responsivo(pcMedio)
                                        height: fit-content!important
                                    [class^="la-"], [class*=" la-"]
                                        font-size: 42px
                                        @include responsivo(telefonoTable)
                                            font-size: 32.5px
                                        @include responsivo(pcMedio)
                                            font-size: 32.5px
                                        @include responsivo(general)
                                            font-size: 35px
                                        @include responsivo(smallPcTablet)
                                            font-size: 32.5px

                            li.extra-menu-item
                                min-height: 40px

                            li.extra-menu-item.menu-item-account.logined.icon
                                a#menu-extra-login
                                    span.login-text
                                        position: relative
                                        top: 12.5px
                                        right: 7.5px

                                ul
                                    // background-color: white
                                    li
                                        padding: 10px 15px

                                        h3
                                            margin: 0
                                        &:first-of-type

                                            padding-bottom: 0
                                        ul
                                            li
                                                padding: 0
                                                padding-bottom: 5px!important
                                                &:last-of-type
                                                    padding-bottom: 0!important
                                    li.line-space
                                        // display: none
                                        padding: 0
                                    *
                                        font-family: "Work Sans", Arial, sans-serif






    .main-menu
        .container
            @include containerWidth()
        .cats-menu-title
            @include responsivo(general)
                padding-left: 0
            @include responsivo(resto)
                padding-left: 0
    .mobile-menu
        .container
            @include containerWidth()
        a#mf-toggle-menu
            @include responsivo(telefonoTable)
                padding: 0
                padding-right: 25px
            @include responsivo(pcMedio)
                padding: 0
                padding-right: 25px

    .mini-cart-content
        min-width: unset
        .widget_shopping_cart_content
            @include responsivo(general)
                padding: 20px
            @include responsivo(resto)
                padding: 20px
            ul.woocommerce-mini-cart.cart_list.product_list_widget
                li.woocommerce-mini-cart-item.mini_cart_item
                    @include responsivo(general)
                        padding-right: 20px
                        padding-top: 10px
                    @include responsivo(resto)
                        padding-right: 20px
                        padding-top: 10px
                    &:first-of-type
                        padding-top: 0

            .mf-cart-panel-footer
                p.woocommerce-mini-cart__total.total
                    margin-top: 10px
                p.woocommerce-mini-cart__buttons.buttons
                    flex-wrap: unset
                    margin-bottom: 0
                    a
                        box-shadow: $shadow2
                        margin-bottom: 0

        @include responsivo(general)
            width: 375px
        @include responsivo(smallPcTablet)
            width: 350px
        @include responsivo(resto)
            width: 425px




.page-header.page-header-page
    .container
        @include containerWidth()
        @include responsivo(general)
            padding-left: 15px
            padding-right: 15px
        @include responsivo(resto)
            padding-left: 15px
            padding-right: 15px


