


// div#content
//     .container
//         @include responsivo(telefonoTable)
//             width: 95%
//         @include responsivo(pcMedio)
//             width: 90%
//         @include responsivo(general)
//             width: 100%!important
//             max-width: 1240px!important
//         @include responsivo(resto)
//             width: 100%!important
//             max-width: 1340px!important


header#site-header
    .header-main-wapper
        .header-main
            .container
                @include containerWidth()

    .main-menu
        .container
            @include containerWidth()
        .cats-menu-title
            @include responsivo(general)
                padding-left: 0
            @include responsivo(resto)
                padding-left: 0

    .mini-cart-content
        .widget_shopping_cart_content
            .mf-cart-panel-footer
                p.woocommerce-mini-cart__buttons.buttons
                    flex-wrap: unset
                    a
                        margin-bottom: 0


.page-header.page-header-page
    .container
        @include containerWidth()
        @include responsivo(general)
            padding-left: 15px
            padding-right: 15px
        @include responsivo(resto)
            padding-left: 15px
            padding-right: 15px