


@media (min-width: 992px)
    .col-lg-4
        width: 33.33333333%!important

@media (min-width: 992px)
    .col-lg-5
        width: 41.66666667%!important

@media (min-width: 992px)
    .col-lg-7
        width: 58.33333333%!important

@media (min-width: 992px)
    .col-lg-8
        flex: 0 0 auto
        width: 66.66666667%!important

// body
    // background-color: $whiteBase1!important
    // background-color: red!important

body
    overflow-x: hidden!important

html.yith_welrp_opened, body.yith_welrp_opened
    overflow: visible!important

a,
button
    transition: $trans

strong
    font-weight: bold!important

.button,
input.a,
.mf-button,
.btn-shop,
.btn-button
    transition: $trans!important
    padding-left: 15px!important
    padding-right: 15px!important
    // display: flex!important
    // align-self: center!important
    // justify-self: center!important
    // align-items: center!important
    // align-content: center!important
    // line-height: 1!important
    // width: fit-content!important
    &:hover
        transform: scale(1.075)

.customButton
    transition: $trans
    padding: 0
    &.wIcon
        display: flex!important
        flex-direction: row!important
        justify-content: center!important
        align-content: center!important
        align-items: center!important
        justify-items: center!important
        i
            font-size: 28px
            margin-right: 5px
            top: -2.5px
            position: relative

.hiperRed
    &:hover
        color: red!important

.hiperLink
    &:hover
        color: $primaryColor!important


.sectionParent
    background-color: $whiteBase1!important


.containerImage.containImageHover
    overflow: hidden
    img
        transition: $trans
    &:hover
        img
            transform: scale(1.1)


header#site-header.minimized
    .header-main-wapper
        .header-main
            padding: 20px 0
            z-index: 1000!important



.desktopElement
    @include responsivo(telefonoTable)
        display: none!important
    @include responsivo(pcMedio)
        display: none!important
    @include responsivo(general)
        display: block!important
    @include responsivo(resto)
        display: block!important
.mobileElement
    @include responsivo(telefonoTable)
        display: block!important
    @include responsivo(pcMedio)
        display: block!important
    @include responsivo(general)
        display: none!important
    @include responsivo(resto)
        display: none!important
.tabletElement
    @include responsivo(telefonoTable)
        display: none!important
    @include responsivo(pcMedio)
        display: block!important
    @include responsivo(general)
        display: none!important
    @include responsivo(resto)
        display: none!important

.desktopTabletElement
    @include responsivo(telefonoTable)
        display: none!important
    @include responsivo(pcMedio)
        display: block!important

    @include responsivo(general)
        display: block!important

    @include responsivoSpecial(1000px, 1125px)
        display: none!important

    @include responsivo(resto)
        display: block!important

.mobileSmallElement
    @include responsivo(telefonoTable)
        display: block!important
    @include responsivo(pcMedio)
        display: none!important
    @include responsivo(general)
        display: none!important
    @include responsivo(resto)
        display: none!important

.desktopElement_flex
    @include responsivo(telefonoTable)
        display: none!important
    @include responsivo(pcMedio)
        display: none!important
    @include responsivo(general)
        display: flex!important
    @include responsivo(resto)
        display: flex!important
.mobileElement_flex
    @include responsivo(telefonoTable)
        display: flex!important
    @include responsivo(pcMedio)
        display: flex!important
    @include responsivo(general)
        display: none!important
    @include responsivo(resto)
        display: none!important

.desktopTabletElement_flex
    @include responsivo(telefonoTable)
        display: none!important
    @include responsivo(pcMedio)
        display: flex!important

    @include responsivo(general)
        display: flex!important

    @include responsivoSpecial(1000px, 1125px)
        display: none!important

    @include responsivo(resto)
        display: flex!important

.mobileSmallElement_flex
    @include responsivo(telefonoTable)
        display: flex!important
    @include responsivo(pcMedio)
        display: none!important
    @include responsivo(general)
        display: none!important
    @include responsivo(resto)
        display: none!important



a#scroll-top
    display: none!important


.page-header.page-header-page
    h1.entry-title
        padding-top: 75px
        padding-bottom: 75px
        @include h2_title_contain()
        @include responsivo(telefonoTable)
            padding-top: 50px
            padding-bottom: 25px
        @include responsivo(pcMedio)
            padding-top: 50px
            padding-bottom: 50px
        @include responsivo(smallPcTablet)
            padding: 50px 0

.dropdown-toggle::after
    border: none!important


// div#content
    // padding-top: 0

.row
    margin: 0!important

div#page
    .container,
    .martfury-container
        @include regular_section_row_width()
    div#content
        // padding: 75px 0
        // @include responsivo(telefonoTable)
        //     padding: 50px 0
        // @include responsivo(pcMedio)
        //     padding: 50px 0

        .container-fluid
            padding-left: 0
            padding-right: 0

            div#primary
                padding-left: 0
                padding-right: 0

    .container-fluid
        .row
            .elementor-section
                .elementor-container
                    @include elementor_containerWidth()
                    .row
                        flex-wrap: unset
                    // .elementor-column
                    //     @include responsivo(telefonoTable)
                    //         width: 100%
                    //     @include responsivo(pcMedio)
                    //         width: 100%

body#regular_document_template
    div#page
        .container,
        .martfury-container
            @include regular_section_row_width()
        div#content
            .container-fluid
                .row
                    .elementor-section
                        .elementor-container
                            @include sbn_document_elementor_containerWidth()

        div#content
            padding-bottom: 50px
            @include responsivo(telefonoTable)
                padding-bottom: 25px

.customPageSubTitle
    p.text
        font-weight: 500
        font-size: 16px


.thinButton
    color: black
    font-size: 18px
    padding-left: 0!important
    padding-right: 0!important
    height: fit-content
    line-height: 1
    transition: $trans
    i
        font-size: 16px!important
        margin-right: 5px


// .sbn_buttonCustom sbn_btn_normal.sbn_primaryButton.left_side

.ticketShape
    height: 25px
    background-color: $lightGray_color
    position: relative
    &::before
        content: ""
        border-radius: 360px
        height: 22.5px
        width: 25px
        background-color: #fff
        position: absolute
        left: -10px
        top: 0
        bottom: 0
        margin-top: 0
        margin-bottom: 0
        display: block
    &::after
        content: ""
        border-radius: 360px
        height: 22.5px
        width: 25px
        background-color: #fff
        position: absolute
        top: 0
        right: -10px
        bottom: 0
        margin-top: 0
        margin-bottom: 0
        display: block
    .shape
        content: ""
        position: absolute
        left: 0
        right: 0
        top: -4px
        bottom: 0
        height: 7.5px
        width: 100%
        margin-top: auto
        margin-bottom: auto
        border-bottom: 5px dashed white




.sectionTopList
    .lineTitleSection
        margin-bottom: 20px!important
        padding-bottom: 15px!important
        border-bottom: 1px solid rgba(0,0,0,0.15)
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        align-content: center
        .iconSection
            i
                font-size: 30px
                padding: 10px
                background-color: var(--mf-primary-color)
                color: black
                border-radius: 360px

        h3
            margin: auto 0!important
            @include h4_title_small()

.line_separator_section
    margin-bottom: 20px
    padding-bottom: 15px
    border-bottom: 1px solid rgba(0,0,0,0.15)
.iconSection
    i
        font-size: 30px
        padding: 10px
        background-color: var(--mf-primary-color)
        color: black
        border-radius: 360px


.elementor-column-gap-default
    display: none
    max-width: unset!important


.widget_shopping_cart_content .woocommerce-mini-cart__total .woocommerce-Price-amount,
.woocommerce-cart .woocommerce .cart-collaterals .cart_totals table.shop_table .order-total .woocommerce-Price-amount
    color: black
    // font-weight: 900!important

// a.woocommerce-remove-coupon
//     color: red
//     margin-left: 2.5px

.cart-discount
    .innerDiscount
        color: red!important
        display: flex
        flex-direction: row
        justify-content: center
        justify-items: center
        align-content: center
        align-items: center
        border: none!important
        width: fit-content
        margin-left: auto
        span.woocommerce-Price-amount.amount
            color: red!important
            margin-right: 5px



.customCouponSection
    .coupon_custom
        margin-bottom: 50px
        margin-bottom: 0
        background-color: $lightGray_color
        // padding: 15px 25px
        padding-top: 15px
        padding-bottom: 15px
        @include responsivo(telefonoTable)
            margin-bottom: 0
        @include responsivo(pcMedio)
            margin-bottom: 0

        a
            width: 100%
            color: black
            display: flex
            flex-direction: row
            justify-content: space-between
            align-content: center
            align-items: center
            transition: $trans
            font-size: 16px
            display: block
            width: 100%
            i
                transition: $trans
                // padding-right: 15px
                font-size: 18px
                padding: 7.5px
                background-color: $primaryColor
                border-radius: 100%
            span
                width: fit-content
            span.have
                display: flex
            span.deploy
                display: none
            &:hover
                cursor: pointer

            @include responsivo(general)
                font-size: 14px
            @include responsivo(smallPcTablet)
                font-size: 13px

        a.active
            span.have
                display: none
            span.deploy
                display: block
            i
                transform: rotate(90deg)

        .couponContainer_custom
            margin-top: 15px
            margin-bottom: 10px
            .collapseContain
                display: flex
                flex-direction: row
                justify-content: space-between
                input
                    margin-top: 0
                    margin-bottom: 0
                    height: 50px
                input#coupon_code_custom
                    @include responsivo(telefonoTable)
                        width: 65%!important
                    @include responsivo(pcMedio)
                        width: 65%!important
                    @include responsivo(general)
                        width: 60%!important
                    @include responsivo(smallPcTablet)
                        width: 55%!important
                    @include responsivo(resto)
                        width: 60%!important

                input.button
                    background-color: $primaryColor
                    border: transparent
                    margin-top: 0!important
                    @include responsivo(telefonoTable)
                        width: 35%!important
                    @include responsivo(pcMedio)
                        width: 35%!important
                    @include responsivo(general)
                        font-size: 14px
                        width: 40%!important
                    @include responsivo(smallPcTablet)
                        font-size: 13px
                        width: 45%!important
                    @include responsivo(resto)
                        font-size: 15px
                        width: 40%!important

.woocommerce
    ul.products
        li.product
            .product-inner.clearfix
                .mf-product-thumbnail
                    // a
                    .footer-button
                        background-color: rgba(white, 0.925)
                        display: flex
                        flex-direction: row
                        justify-content: space-evenly
                        align-items: center
                        align-content: center
                        a
                            max-width: 35px!important
                            max-height: 35px!important
                            width: 100%
                            height: 100%
                            padding: 0!important
                            margin: 0!important
                            position: relative
                            i
                                position: relative
                                margin: auto
                                width: 35px
                                height: 35px
                                font-size: 23.5px
                                display: flex
                                align-content: center
                                align-items: center
                                justify-content: center
                                justify-items: center
                                &::before
                                    font-size: 23.5px

                            &::before
                                font-size: 23.5px

                        .yith-wcwl-add-to-wishlist
                            margin: 0
                        .compare-button.mf-compare-button
                            margin: 0


header#site-header
    .header-mobile-v1,
    .header-mobile-v2
        .container
            @include regular_section_row_width()
            .header-main.header-row
                padding: 10px 0
                padding-top: 5px

                .header-extras
                    ul.extras-menu
                        @include responsivo(telefonoTable)
                            margin-left: 0
                        @include responsivo(pcMedio)
                            margin-left: 0
                        li.extra-menu-item
                            a
                                padding-top: 0
                                i
                                    font-size: 37.5px

header#site-header.minimized
    .container
        .header-main.header-row
            @include responsivo(telefonoTable)
                padding-left: 5%
                padding-right: 5%
            @include responsivo(pcMedio)
                padding-left: 5%
                padding-right: 5%

.slick-track,
.slick-slide
    li
        @include responsivo(telefonoTable)
            width: 100%
        @include responsivo(pcMedio)
            width: 100%
    a
        // width: 100%
        img
            width: 100%



.collapsableContain
    display: none


.mf-products-top-carousel
    @include responsivo(telefonoTable)
        margin-bottom: 50px!important
    @include responsivo(pcMedio)
        margin-bottom: 50px!important

ul.slick-dots
    @include responsivo(telefonoTable)
        margin: 0!important

    @include responsivo(pcMedio)
        margin: 0!important

    li
        // margin: 0 5px!important
        padding: 0!important
        margin-left: 5px
        margin-right: 5px
        button
            background-color: $lightGray_color
    li.slick-active
        button
            background-color: $primaryColor

.elementor-widget-container
    .mf-products-of-category-2.woocommerce
        ul.slick-dots
            @include responsivo(telefonoTable)
                position: unset!important
                margin-top: 0px!important
                margin-bottom: 10px!important
                padding-bottom: 5px!important
            @include responsivo(pcMedio)
                position: unset!important
                margin-top: 0px!important
                margin-bottom: 20px!important
                padding-bottom: 5px!important

ul.slick-dots

    li
        @include responsivo(telefonoTable)
            height: 15px!important
            width: 15px!important
        @include responsivo(pcMedio)
            height: 15px!important
            width: 15px!important
        button
            @include responsivo(telefonoTable)
                height: 15px!important
                width: 15px!important
            @include responsivo(pcMedio)
                height: 15px!important
                width: 15px!important


ul.products
    li.product.type-product
        @include responsivo(telefonoTable)
            margin-bottom: 12.5px!important
        @include responsivo(pcMedio)
            margin-bottom: 12.5px!important

.martfury-container,
div#primary
    padding: 0!important




.boxShadow2
    box-shadow: $shadow2

.noShadow
    box-shadow: none!important

// botones
.sbn_buttonCustom
    display: flex!important
    flex-direction: row!important
    justify-content: center
    justify-items: center
    align-content: center
    align-items: center
    text-decoration: none
    line-height: 1!important
    width: fit-content
    transition: $trans
    // transform: scale(1)
    height: auto!important
    min-height: unset!important
    min-width: unset!important
    box-shadow: $shadow2!important

    .icon_container
        display: flex
        flex-direction: column
        justify-content: center
        align-content: center
        align-items: center
        font-size: unset

    &:hover
        transform: scale(1.1)
        cursor: pointer

    &.sbn_btn_normal
        @include responsivo(telefonoTable)
            font-size: 13px!important
            padding: 12.5px 25px!important
        @include responsivo(pcMedio)
            font-size: 18px!important
            padding: 15px 40px!important
        @include responsivo(general)
            padding: 15px 35px!important
            font-size: 18px!important

        @include responsivo(smallPcTablet)
            padding: 10px 25px!important
            font-size: 16px!important
        @include responsivo(resto)
            font-size: 20px!important
            padding: 15px 40px!important

        .icon_container
            i[class*="fa"]
                display: block
                margin: auto
                line-height: 1
                @include responsivo(telefonoTable)
                    font-size: 15px!important
                @include responsivo(pcMedio)
                    font-size: 15px!important
                @include responsivo(general)
                    font-size: 18px!important
                @include responsivo(smallPcTablet)
                    font-size: 16px!important
                @include responsivo(resto)
                    font-size: 20px!important
            i.las
                display: block
                margin: auto
                line-height: 1
                @include responsivo(telefonoTable)
                    font-size: 20px!important
                @include responsivo(pcMedio)
                    font-size: 20px!important
                @include responsivo(general)
                    font-size: 27.5px!important
                @include responsivo(smallPcTablet)
                    font-size: 25px!important
                @include responsivo(resto)
                    font-size: 30px!important

    &.sbn_btn_small
        @include responsivo(telefonoTable)
            font-size: 13px!important
            padding: 12.5px 25px!important
        @include responsivo(pcMedio)
            font-size: 14px!important
            padding: 10px 25px!important
        @include responsivo(general)
            font-size: 14px!important
            padding: 10px 20px!important
        @include responsivo(smallPcTablet)
            font-size: 12px!important
            padding: 10px 20px!important
        @include responsivo(resto)
            font-size: 16px!important
            padding: 10px 20px!important

        .icon_container
            i[class*="fa"]
                display: block
                margin: auto
                line-height: 1
                @include responsivo(telefonoTable)
                    font-size: 14px!important
                @include responsivo(pcMedio)
                    font-size: 14px!important
                @include responsivo(general)
                    font-size: 14px!important
                @include responsivo(smallPcTablet)
                    font-size: 14px!important
                @include responsivo(resto)
                    font-size: 16px!important
            i.las
                display: block
                margin: auto
                line-height: 1
                @include responsivo(telefonoTable)
                    font-size: 14px!important
                @include responsivo(pcMedio)
                    font-size: 14px!important
                @include responsivo(general)
                    font-size: 16px!important
                @include responsivo(smallPcTablet)
                    font-size: 14px!important
                @include responsivo(resto)
                    font-size: 18px!important


    &.sbn_primaryButton
        background-color: $primaryColor
        color: $blackColor
    &.sbn_secondaryButton
        background-color: $lightGray_color
        color: $blackColor
    &.sbn_thirdButton
        background-color: $blackColor
        color: $whiteBase1
    &.sbn_transparentButton
        border: 1px solid $blackColor
        background-color: transparent
    &.sbn_underlineButton
        color: $blackColor

    &.right_side
        display: flex
        flex-direction: row-reverse
        .icon_container,
        .icon_container
            margin-left: 10px
    &.left_side
        display: flex
        flex-direction: row
        .icon_container,
        .icon_container
            margin-right: 10px




.elementor-element.elementor-widget.elementor-widget-martfury-products-of-category-2
    .elementor-widget-container
        .mf-products-of-category-2.woocommerce
            .cats-header
                display: flex
                flex-direction: row
                @include responsivo(telefonoTable)
                    padding-left: 15px
                    padding-right: 15px
                    flex-direction: column
                    justify-content: flex-start
                    align-content: flex-start
                    align-items: flex-start
                @include responsivo(pcMedio)
                    padding-left: 30px
                    padding-right: 30px
                h2.cats-inner__heading
                    @include responsivo(telefonoTable)
                        margin-bottom: 10px
                    @include responsivo(pcMedio)
                        margin-bottom: 10px
                ul.extra-links
                    @include responsivo(telefonoTable)
                        display: flex
                        flex-direction: row
                        justify-content: flex-start
                        align-content: center
                        align-items: center
                        width: 100%

                    li
                        padding: 0
                        padding-right: 15px
                        @include responsivo(telefonoTable)
                            padding-right: 7.5px
                        &:last-child
                            padding: 0
                            padding: 0

            .products-cat.row
                padding-bottom: 0
                @include responsivo(telefonoTable)
                    padding-bottom: 5px

                .has-side-product.col-product-content
                    @include responsivo(telefonoTable)
                        padding-left: 7.5px
                        padding-right: 7.5px

                    .images-slider
                        padding-left: 0
                        padding-right: 0
                        padding-bottom: 10px
                        @include responsivo(telefonoTable)
                            padding-left: 0
                            padding-right: 0

                    .mf-products-tabs.woocommerce
                        padding-left: 10px
                        @include responsivo(telefonoTable)
                            padding-left: 7.5px
                            padding-right: 7.5px

                        .tabs-header
                            padding-bottom: 15px
                            .tabs-header-nav
                                width: 100%
                                ul.tabs-nav
                                    width: 100%
                                    display: flex
                                    flex-direction: row
                                    li
                                        padding: 0
                                        padding-left: 15px
                                        &:first-child
                                            padding: 0

                                        a
                                            @include responsivo(telefonoTable)
                                                font-size: 14px
                                            @include responsivo(pcMedio)
                                                font-size: 14px
                        .tabs-content
                            padding-top: 15px
                            .tabs-panel.tab-loaded.active
                                .woocommerce
                                    .slick-list
                                        li.product
                                            .product-inner
                                                margin-bottom: 25px
                                                @include responsivo(telefonoTable)
                                                    margin-bottom: 5px


                            span.slick-arrow
                                top: -40px

                .side-products
                    .products-side
                        padding-top: 30px
                        padding-left: 20px
                        h2.side-title
                            margin-bottom: 15px


.elementor-element.elementor-widget.elementor-widget-martfury-icons-list
    .elementor-widget-container
        .mf-elementor-icons-list
            @include responsivo(telefonoTable)
                padding: 20px 0

            .icons-list-wrapper
                @include responsivo(telefonoTable)
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-content: flex-start
                    align-items: flex-start
                    width: fit-content!important
                    margin: 0 auto

                .box-item
                    @include responsivo(telefonoTable)
                        width: fit-content

                    .martfury-icon-box
                        @include responsivo(telefonoTable)
                            padding-left: 0
                            padding-right: 0
                        @include responsivo(pcMedio)
                            padding-left: 0
                            padding-right: 0

                        // .martfury-icon-box
                        //     .mf-icon.box-icon

.quantity
    width: fit-content!important
    .qty-box
        width: fit-content
        display: flex
        flex-direction: row
        align-content: center
        align-items: center
        justify-content: center
        @include responsivo(telefonoTable)
            padding: 0 5px!important
        @include responsivo(pcMedio)
            padding: 0 5px!important
        @include responsivo(general)
            padding: 0 5px!important
        @include responsivo(resto)
            padding: 0 5px!important
        .increase,
        .decrease
            position: unset!important
            margin: auto 0
            height: 100%
            transform: unset!important
            width: 30px
            display: flex
            align-content: center
            align-items: center
            justify-self: center
            &::before
                display: block
                margin: auto
        .input-text.qty.text
            margin: 0!important
            @include responsivo(telefonoTable)
                min-width: unset
                width: 50px!important
            @include responsivo(pcMedio)
                min-width: unset
                width: 75px!important
            @include responsivo(general)
                width: 50px!important
            @include responsivo(resto)
                width: 50px!important
