


// responsivo
$desdeT: 150px
$hastaT: 767px

$desdeM: $hastaT + 1
$hastaM: 992px

$desdeG: $hastaM
$hastaG: $desdeG + 500

@mixin responsivo($media)
    @if $media == telefonoTable
        @media only screen and (min-width: $desdeT) and (max-width: $hastaT)
            @content
    @else if $media == pcMedio
        @media only screen and (min-width: $desdeM) and (max-width: $hastaM)
            @content
    @else if $media == general
        @media only screen and (min-width: $desdeG) and (max-width: $hastaG)
            @content
    @else if $media == resto
        @media only screen and (min-width: $hastaG + 1)
            @content
    @else if $media == specialTexts
        @media only screen and (min-width: 992px) and (max-width: 1199px)
            @content
    @else if $media == smallPcTablet
        @media only screen and (min-width: 992px) and (max-width: 1199px)
            @content

@mixin responsivoSpecial($desde, $hasta)
    @media only screen and (min-width: $desde) and (max-width: $hasta)
        @content

@mixin regular_section_row_width()
    padding-left: 0
    padding-right: 0
    margin-left: auto!important
    margin-right: auto!important
    @include responsivo(telefonoTable)
        width: 90%
    @include responsivo(pcMedio)
        width: 85%
    @include responsivo(general)
        width: 100%!important
        max-width: 1140px!important
    @include responsivo(smallPcTablet)
        max-width: 1000px!important

    @include responsivo(resto)
        width: 100%!important
        max-width: 1240px!important

@mixin elementor_containerWidth()
    padding-left: 0
    padding-right: 0
    margin-left: auto!important
    margin-right: auto!important
    @include responsivo(telefonoTable)
        width: 90%
    @include responsivo(pcMedio)
        width: 85%
    @include responsivo(general)
        width: 100%!important
        max-width: 1140px!important
    @include responsivo(smallPcTablet)
        max-width: 1000px!important

    @include responsivo(resto)
        width: 100%!important
        max-width: 1240px!important

@mixin sbn_document_containerWidth()
    padding-left: 0
    padding-right: 0
    margin-left: auto!important
    margin-right: auto!important
    @include responsivo(telefonoTable)
        width: 90%
    @include responsivo(pcMedio)
        width: 85%
    @include responsivo(general)
        width: 100%!important
        max-width: 1000px!important
    @include responsivo(smallPcTablet)
        max-width: 900px!important
    @include responsivo(resto)
        width: 100%!important
        max-width: 1250px!important

@mixin sbn_document_elementor_containerWidth()
    padding-left: 0
    padding-right: 0
    margin-left: auto!important
    margin-right: auto!important
    @include responsivo(telefonoTable)
        width: 90%
    @include responsivo(pcMedio)
        width: 85%
    @include responsivo(general)
        width: 100%!important
        max-width: 1000px!important
    @include responsivo(smallPcTablet)
        max-width: 900px!important
    @include responsivo(resto)
        width: 100%!important
        max-width: 1100px!important


@mixin h1_title_contain()
    line-height: 0.9
    @include responsivo(telefonoTable)
        font-size: 30px!important
    @include responsivo(pcMedio)
        font-size: 35px!important
    @include responsivo(general)
        font-size: 45px!important
    @include responsivo(smallPcTablet)
        font-size: 40px!important
    @include responsivo(resto)
        font-size: 55px!important


@mixin h2_title_contain()
    line-height: 0.9
    @include responsivo(telefonoTable)
        font-size: 25px!important
    @include responsivo(pcMedio)
        font-size: 30px!important
    @include responsivo(general)
        font-size: 35px!important
    @include responsivo(smallPcTablet)
        font-size: 32.5px!important
    @include responsivo(resto)
        font-size: 40px!important

@mixin h3_title_contain()
    line-height: 0.9
    @include responsivo(telefonoTable)
        font-size: 20px!important
    @include responsivo(pcMedio)
        font-size: 25px!important
    @include responsivo(general)
        font-size: 30px!important
    @include responsivo(smallPcTablet)
        font-size: 27px!important
    @include responsivo(resto)
        font-size: 32.5px!important

@mixin h4_title_small()
    line-height: 0.9
    @include responsivo(telefonoTable)
        font-size: 18px!important
    @include responsivo(pcMedio)
        font-size: 20px!important
    @include responsivo(smallPcTablet)
        font-size: 20px!important
    @include responsivo(resto)
        font-size: 22px!important


@mixin p_text_sub_header()
    line-height: 1.2
    @include responsivo(telefonoTable)
        font-size: 16px!important
    @include responsivo(pcMedio)
        font-size: 18px!important
    @include responsivo(general)
        font-size: 27.5px!important
    @include responsivo(smallPcTablet)
        font-size: 22px!important
    @include responsivo(resto)
        font-size: 32px!important


@mixin p_text_contain()
    line-height: 1.25
    @include responsivo(telefonoTable)
        font-size: 13px!important
    @include responsivo(pcMedio)
        font-size: 14px!important
    @include responsivo(general)
        font-size: 15px!important
    @include responsivo(smallPcTablet)
        font-size: 15px!important
    @include responsivo(resto)
        font-size: 18px!important

@mixin p_secondaryText_contain()
    line-height: 1.25
    @include responsivo(telefonoTable)
        font-size: 12px!important
    @include responsivo(pcMedio)
        font-size: 13px!important
    @include responsivo(general)
        font-size: 14px!important
    @include responsivo(smallPcTablet)
        font-size: 13px!important
    @include responsivo(resto)
        font-size: 16px!important

@mixin small_preTitle_tag()
    line-height: 1.2
    @include responsivo(telefonoTable)
        font-size: 12px!important
    @include responsivo(pcMedio)
        font-size: 14px!important
    @include responsivo(general)
        font-size: 13px!important
    @include responsivo(smallPcTablet)
        font-size: 12px!important
    @include responsivo(resto)
        font-size: 14px!important



.elementor-column-gap-default > .elementor-column > .elementor-element-populated
    padding: 0!important


@import variables
@import generals






