


// --mf-primary-color: #fcb800
// --mf-dark-color: #000
// --mf-light-color: #fff
// --mf-gray-color: #666
// --mf-background-primary-color: #fcb800
// --mf-background-primary-text-color: #000
// --mf-background-light-color: #fff
// --mf-border-primary-color: #fcb800



//#FFF0C8
// #F5313D
// #00A99C
// #1F194E
// #FBFBFB
// #F2F3F5
// #666666
// #DEDEDE

:root
    --mf-primary-color: #F5313D!important
    --mf-dark-color: #000
    --mf-light-color: #fbfbfb!important
    --mf-gray-color: #666
    --mf-background-primary-color: #FFF0C8!important
    --mf-background-primary-text-color: #000
    --mf-background-light-color: $whiteBase1!important
    --mf-border-primary-color: #FFF0C8
    --lightGray_color: #F2F3F5
    --darkBlue_color: #1F194E
    --turcGreen_color: #00A99C
    --yellow_color: #FFF0C8
    --gray_ult_color: #DEDEDE

    // --animate-duration: 100ms





$primaryColor: var(--mf-primary-color)
$darkBlue_color: var(--darkBlue_color)
$yellow_color: var(--yellow_color)
$turcGreen_color: var(--turcGreen_color)
$blackColor: var(--mf-dark-color)
$grayColor: var(--mf-gray-color)
$whiteBase1: var(--mf-light-color)
$gray_ult_color: var(--gray_ult_color)


$lightGray_color: var(--lightGray_color)

$trans: all 0.2s ease-in-out


$shadow1: 0 0 10px 0 rgb(0 0 0 / 12%)

$shadow2: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px